<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Triangle Reactjs Redux</title>
  </head>
  <body>
    <section id="reduxWorkshopContainer"></section>
    <script src="../build/App.js"></script>
  <script type="text/javascript" src="/Users/marcelbelmont/triangle-reactjs-redux-workshop/build/App.js"></script><script type="text/javascript" src="/Users/marcelbelmont/triangle-reactjs-redux-workshop/build/App.js"></script><script type="text/javascript" src="/Users/marcelbelmont/triangle-reactjs-redux-workshop/build/App.js"></script><script type="text/javascript" src="/Users/marcelbelmont/triangle-reactjs-redux-workshop/build/App.js"></script><script type="text/javascript" src="/Users/marcelbelmont/triangle-reactjs-redux-workshop/build/App.js"></script></body>
</html>