#reduxWorkshopContainer {
    padding: 5%;

    .triangle-react-container {
        display: flex;
        flex-direction: column;

        &-label {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3em;
            background: #2d2d2d;
            color: #61dafb;
            font-weight: 400;
        }
    }
}